<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029957562338-0grngqf1jaulc0ed7kgcmamapf49j61e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029957562338-0grngqf1jaulc0ed7kgcmamapf49j61e</string>
	<key>API_KEY</key>
	<string>AIzaSyB834p3T6ypboHweUPy4bEFAJbDaeQ9akI</string>
	<key>GCM_SENDER_ID</key>
	<string>1029957562338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hdayal.InstaClone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instaclone-firebase-f80dd</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-firebase-f80dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029957562338:ios:2186ebad7f9762a2f7d3bb</string>
</dict>
</plist>